// create an api key at https://platform.openai.com/
OPENAI_API_KEY=


// Guide for setting up google OAuth2: https://wasp-lang.dev/docs/integrations/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

// you can easily set up a hosted database at https://railway.app
DATABASE_URL=

// get API key at https://extreme-ip-lookup.com/
IP_LOOKUP_KEY= 

// Stripe Payment Keys
STRIPE_KEY=
STRIPE_TEST_KEY=

PRODUCT_PRICE_ID=
PRODUCT_TEST_PRICE_ID=